
.starter-template{
    padding:40px 15px;
    text-align:center;
}

.label {
    color: black;
}

.labelStAj {
    padding: 6px 6px;
	margin-bottom: 15px;
	margin-left: 30px;
	width: 600px;
}

.labelUsr {
    padding: 6px 6px;
    margin-right: 50px;
    width: 290px;
}

.btnU{
	margin-top: 18px;
}
.p1 {
    margin-left: -29px;
}

.tableUser{
	text-align: center;
}

.clmUser{
	text-align: center;
}

